<h3 class="text-center">User Detaisl </h3>

<div class="col-sm-4 offset-4 border border-2 p-2">
    <div class="col-sm-3">
      <div class="card">
        <img src="{{user.image}}" class="card-img-top" alt="..." height="200">
        <div class="card-body text-center">
       
          <p class="card-text">{{user?.id}}</p>
          <p class="card-text">{{user?.name}}</p>
          <p class="card-text text-truncate">{{user?.email}}</p>
          <p class="card-text">{{user.address.city}}</p>
          <p class="card-text">{{user.phone}}</p>
          
        </div>
      </div>
    </div>
</div>
